[submodule "NDNT"]
	path = NDNT
	url = git@github.com:NeuroTheoryUMD/NDNT.git
	branch = main
[submodule "models"]
	path = models
	url = git@github.com:VisNeuroLab/models.git
	branch = main
[submodule "datasets"]
	path = datasets
	url = git@github.com:jcbyts/datasets.git
	branch = foundation
